<!DOCTYPE html>
<html>
  <head>
    <title>Soup-or-Cuts Hair Salon and Lunch Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      #parse( $template )
      <br>
      <a href="/">Return to the home page.</a>
    </div>
  </body>
</html>
